@use '../../../../styles.scss' as *;

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;

  input {
    text-align: center;
    flex: 1;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  button {
    flex-shrink: 0;
    background-color: red;
    border: rgb(215, 17, 166) solid 3px;

    &:hover:not([disabled]) {
      background-color: red;
      border: palevioletred solid 3px;
    }
  }
}

:host.error {
  .mat-form-field-outline {
    color: red;
  }

  .mat-form-field-label {
    color: red;
  }
}